<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.854030681539-0vrf28nlud4pb3cboekevidl7por97u0</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>854030681539-0vrf28nlud4pb3cboekevidl7por97u0.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>854030681539-qhova1gre8m0dfnuon5q1pmnei0upn56.apps.googleusercontent.com</string>
</dict>
</plist>
